* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    height: auto;
    color: white;
    text-shadow: black 2px -2px 5px;
}

.hero {
    background-image: url("./images/Fast_food_French_fries_Beer_Hamburger_Highball_524931_1920x1080.jpg");
    background-size: cover; 
    background-position: center;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20%;
}