*, *::Before, *::after {
    box-sizing: border-box;
}

body {
    text-align: center;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(../images/vegan-food.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    opacity: 0.30;
}

iframe {
    position: relative;
    margin: 50px 0;
}

header a {
    text-decoration: none !important;
}

.header {
    border-bottom:3px solid black;
    padding: 23px 0;
}

#intro-container {
    margin: 1em auto;
    position: relative;
    justify-content: center;
    align-items: center;
    word-wrap: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

#intro {
    color: rgb(95, 0, 0);
    position: relative;
}   

#start {
    position: relative;
    background-color: whitesmoke;
    margin-top: 20px;
    border: none;
    color:black;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#start:hover {
    opacity: 1;
}

#input-container {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 350px;
    padding-bottom: 10px;
}

#zip-container {
    position: relative;
}

#zip-text {
    color: black;
    margin-top: 20px;
}

#zip-button {
    background-color: whitesmoke;
    border: none;
    color:black;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#zip-button:hover {
    opacity: 1;
}

#question-container {
    position: relative;
}

#question {
    font-size: 5vw;
    color: rgb(95, 0, 0);
}

#sine {
    padding: 0 130px;
    position: relative;;
}

#display-container {
    position: relative;
    font-weight: bold;
}

#intro-container,
#zip-container,
#question-container,
#display-container,
#map-container {
    border: 2px solid black;
    margin-top: 100px;
}

#map-container {
    margin: 100px 250px;
}
